<div style="text-align:center">

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" routerLink="/home">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/portfolio">Portfolio</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Interests
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <a class="dropdown-item" routerLink="/interests/photography">Photography</a>
                            <a class="dropdown-item" routerLink="/interests/fantasyfootball">Fantasy Football</a>
                            <a class="dropdown-item" routerLink="/interests/anime">Anime</a>
                            <a class="dropdown-item" routerLink="/interests/strategygames">Strategy Games</a>
                            <a class="dropdown-item" routerLink="/interests/walking">Walking</a>
                            <a class="dropdown-item" routerLink="/interests/politicsnews">Politics &amp; Current Affairs</a>
                        </div>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/interests">Interests</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page content -->
    <router-outlet></router-outlet>

    <!-- Footer -->
    <footer class="py-1 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-white">
                  <span>External links</span>
                      <ul class="ml-auto list-inline">
                          <li class="list-inline-item">
                              <a href="https://github.com/AlexMacLeod23" class="icoGitHub" title="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a>
                          </li>
                          <li class="list-inline-item">
                              <a href="https://www.linkedin.com/in/alexandermacleod/" class="icoLinkedin" title="Linkedin"><i class="fab fa-linkedin" ></i></a>
                          </li>
                          <li class="list-inline-item">
                            <a href="https://stackoverflow.com/users/10862786/alex-m" class="icoStackOverflow" title="StackOverflow"><i class="fab fa-stack-overflow"></i></a>
                        </li>
                      </ul>
                </div>
                <div class="col-md-4 text-white">
                    <a routerLink="/home" class="text-primary" title="Sitemap">Sitemap</a>
                </div>
                <div class="col-md-4 text-white">
                    <a routerLink="/contact" class="text-primary" title="Contact">Contact</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="copyright">
                <p class="m-0 text-center text-white">Copyright &copy; Alexander MacLeod 2019. All rights reserved. | Design by <a href="http://startbootstrap.com" rel="nofollow">Start Bootstrap</a></p>
            </div>
        </div>
    </footer>
</div>
