<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <nav>
    <a routerLink="/home">Home</a>
    <a routerLink="/career">Career</a>
    <a routerLink="/portfolio">Portfolio</a>
    <a routerLink="/outsidetheoffice">Outside the Office</a>
    <a routerLink="/contact">Contact</a>
  </nav>
  <router-outlet></router-outlet>
  <footer class="card-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <span>External links</span>
                <ul class="ml-auto list-inline">
                    <li class="list-inline-item">
                        <a href="https://github.com/AlexMacLeod23" class="icoGitHub" title="GitHub"><i class="fa fa-github"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/alexandermacleod/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <span>Sitemap</span>
            </div>
            <div class="col-md-4">
                  <a routerLink="/contact" class="text-primary" title="Contact">Contact me</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="credits">
            <!--Licensing information: https://github.com/BlackrockDigital/startbootstrap/blob/master/LICENSE-->
            <!-- <a href="https://startbootstrap.com/">Free Bootstrap Themes</a> by <a href="https://startbootstrap.com/">Start Bootstrap</a> -->
        </div>
        <div id="copyright">
            <p>&copy; Alexander MacLeod. All rights reserved. <!--| Design by <a href="http://startbootstrap.com" rel="nofollow">Start Bootstrap</a>.--></p>
        </div>
    </div>
</footer>
</div>
