<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 id="hangmanHeading" class="mt-4 mb-3">Hangman</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/home">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/portfolio">Portfolio</a>
        </li>
        <li class="breadcrumb-item active">Hangman</li>
    </ol>

    <div *ngIf = "!gameWord; else gameBlock">
        <!-- Description -->
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
        </div>

        <hr>

        <!-- Choose theme -->
        <div *ngIf = "!gameError; else errorBlock">
            <form [formGroup]="chooseTheme" (ngSubmit)="startGame()" novalidate id="chooseTheme">
                <div class="row">
                    <div class="col-lg-8 mb-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <label for="gameThemes" class="center-block">Choose theme</label>
                        <select class="form-control" required formControlName="theme" id="theme">
                            <option *ngFor="let theme of gameThemes" [value]="theme">{{theme}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="submit" [disabled]="chooseTheme.status === 'INVALID' || !wordLists" class="btn btn-success">Start new game!</button>
                </div>
            </form>
        </div>

        <!-- Error message -->
        <ng-template #errorBlock>
            <alert id="hangman-error-message" type="danger">
                <strong>Oh dear!</strong> There was an error trying to start the game. Please try again later.
            </alert>
            <button id="hangman-error-tohomepage" class="btn btn-primary" routerLink="/home">Return to homepage</button>
        </ng-template>

        <hr>
    </div>

    <ng-template #gameBlock>

        <!-- Stats -->
        <div [collapse]="hideStats">
            <table>
                <thead>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Games played</th>
                    <th>Win percentage</th>
                </thead>
                <tbody>
                    <td>{{gameStats.getWins()}}</td>
                    <td>{{gameStats.getLosses()}}</td>
                    <td>{{gameStats.getGamesPlayed()}}</td>
                    <td>{{gameStats.getWinPercentage()}}</td>
                </tbody>
            </table>
        </div>

        <!-- Game -->
        <div class="row">
            <div class="col-lg-8 mb-4">
                <span>{{letters.join(" ")}}</span>
                <!--TODO: replace mistakes with hangman drawings -->
                <span>Tries left = {{6 - mistakes}}</span>
                <button class="btn btn-primary" (click)="hideStats = !hideStats">Show stats</button>
            </div>
            <div class="col-lg-4 mb-4">
                <!--TODO: group up buttons -->
                <!--TODO: disable buttons when clicked-->
                <!--TODO: tick/cross buttons when right/wrong-->
                <div *ngFor="let letter of alphabet">
                    <button type="button" class="btn" (click)="guessLetter(letter)" value="letter">{{letter}}</button>
                </div>
                <form [formGroup]="guessGameWord" (ngSubmit)="guessWord()" novalidate id="guess-word">
                    <div class="form-group">
                        <label for="guessWord" class="center-block">Guess word:</label>
                        <input type="text" id="guessWord" class="form-control" required formControlName="word" name="word">
                    </div>
                    <button type="submit" [disabled]="guessGameWord.status === 'INVALID'" class="btn btn-success">Guess</button>
                </form>
            </div>
        </div>

    </ng-template>

    <!-- Game Ended -->
    <div>
        <!--TODO: pop-up when game is won/lost -->
        <!--TODO: new game button -->
        <!--TODO: new game new theme select -->
        <!--TODO: new game new theme button -->
        <!--TODO: return to homepage button -->
        <!--TODO: return to portfolio button -->
    </div>

</div>
